body{
  background-color:#121212;
  color:#E0E0E0;
  font-family: Arvo, serif;
}
a{
  color: #121212; 
  text-decoration: none;
}
.top{
  background-color:#00E5FF;
  border-radius: 7px;
}
.banner{
  background-color:#00EAFF;
  margin:10px;
  padding:5px;
  border: 2px;
  border-radius: 3px;
  border-color:#12121266;
  border-style: double;
}
.header-one{
  margin: 0 20px 0 20px;
  color: #121212;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#121212;
}
h1{
  color:#121212;
}
.subtext{
  color:#121212;
}
.header-two{
  color:#121212;
}  
